.UserIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#nagusia {
    margin: auto;
    width: 1500px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #DDD;
}

td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}

#tabla {
    background-color: rgba(0, 0, 0, 0);
}